@forward "components/chat.scss";
@forward "components/other.scss";
@forward "components/plugins.scss";
@forward "components/server.scss";
@forward "components/settings.scss";
@forward "components/variables.scss";

// * IMPORTS
// Discolored
@import url("https://nyri4.github.io/Discolored/main.css");
