// SIDEBAR
// channels
.channel-1Shao0, .channel-k2TVLQ, .content-1gYQeQ, .item-3XjbnG {
    border-radius: var(--border-radius, 2rem) !important;
}

.interactiveSelected-29CP8y:hover, .modeSelected-3DmyhH:hover > .content-1gYQeQ, .selected-g-kMVV:hover, .linkButton-2NshQj.interactive-1vLZ_I:focus-within {
    color: var(--interactive-active);
    background-color: var(--strato, #0284e8) !important;
}

.theme-light .modeSelected-3DmyhH  > .content-1gYQeQ {
    & > a > .iconContainer-21RCa3 > svg, & > .children-1MGS9G > .iconItem-1EjiK0 > svg {
        color: #dadada;
    }
}

:is(.containerDefault-YUSmu3, .channel-1Shao0.container-32HW5s) a {
    -webkit-user-drag: none;
}

// members
.selected-1-Z6gm .layout-1qmrhw {
    border-radius: var(--border-radius, 2rem);
    background-color: var(--background-secondary-alt);
}

rect[mask="url(#svg-mask-status-online-mobile)"] {
    mask: none;
}


// TOP BAR
.searchBar-jGtisZ {
    border-radius: var(--border-radius, 2rem);
    
    .public-DraftEditorPlaceholder-inner {
        margin-left: .5rem;
    }

    .DraftEditor-editorContainer {
        padding-left: .5rem;
    }
}

.plusIcon-1RVszG, .option-ayUoaq:hover:after {
    background: transparent;
}

.queryContainer-ZunrLZ.focused-2FU0YH {
    background-color: var(--background-secondary);
}


// CHAT WINDOW
// boost page
.container-2cd8Mz, .perksModal-CLcR1c {
    background-color: var(--background-primary) !important;
}

.tierMarkerBackground-G8FoN4, .perk-19D_HN {
    background-color: var(--background-secondary) !important;
}

.iconWrapper-2_MXbk {
    background-color: var(--background-secondary-alt) !important;
}

.tierMarker-Vw1C95 {
    background-color: var(--background-tertiary) !important;
}

// slash commands
.autocomplete-3NRXG8, .categoryHeader-OpJ1Ly {
    background-color: var(--background-primary) !important;
}


// CODE
// diff
.hljs-addition, .hljs-keyword, .hljs-selector-tag {
    color: var(--nebula)
}

.hljs-built_in, .hljs-deletion {
    color: var(--sunset)
}


// USER POPOUT
// message
.input-2z42oC {
    border-radius: var(--border-radius, 2rem);
}


// USER MODAL
.root-8LYsGj {
    // tab buttons
    .item-3XjbnG {
        border-radius: 0 !important;

        &.selected-g-kMVV {
            border-bottom-color: var(--background-accent) !important;

            &:hover {
                background-color: transparent !important;
            }
        }
    }
}
