// TITLEBAR
.wordmark-2u86JB {
    font-family: var(--font-headline);
    font-weight: 600;
    font-size: .65rem;
    margin-left: 2.3rem;

    &:before {
        position: absolute;
        content: "Lunar";
        margin-top: .2rem;
        margin-left: -2.3rem;
    }
}


// BUTTONS
.button-f2h6uQ {
    border-radius: var(--border-radius, 2rem);
}

.key-N5VmHN {
    box-shadow: inset 0 -4px 0 var(--background-primary) !important;
}

// TAB BARS
.tabBarItem-2eb9Nh, .tabBarItem-3nPo4Z, .tabBarItem-30Te4- {
    border-radius: 0 !important;

    &:hover {
        background-color: transparent !important;
    }
}

// AVATARS
.wrapper-1VLyxH, .voiceAvatar-lRbblo, .replyAvatar-sHd2sU,
.avatarWrapper-eenWra > svg > foreignObject, .wrapper-1VLyxH > svg > foreignObject,
.avatar-2e8lTP, .callAvatarMask-fiNMWy > foreignObject, .avatarUploaderInner-p38nm2 {
    border-radius: var(--avatar-radius, 2rem) !important;
    mask: none;
}

.avatarHint-k7pYop {
    display: none;
}
