// POWERCORD
// Spotify
// enhance contrast
.powercord-spotify {
    .button-12Fmur.enabled-9OeuTA:hover {
        color: white !important;
        
        .active {
            color: #5affb5 !important;
        }
    }
}


// GOOSEMOD
// Topaz
.topaz-editor > [role="tablist"] > div {
    border-radius: 8px 0 0 0 !important;

    &:not(:first-child) {
        border-radius: 0 !important;
    }
}
