// HOME ICON
.homeIcon-r0w4ny {
    background: url('https://github.com/lunar-theme/lunar-theme/raw/main/assets/icon-rounded.png') center/cover no-repeat;
    min-width: 60px;
    min-height: 60px;

    path {
        fill: transparent;
    }
}

// SERVER SIDEBAR
// bottom buttons
.circleIconButton-1VxDrg {
    color: var(--nebula);

    &.selected-2r1Hvo {
        background-color: var(--nebula);
    }
}

// SERVER SETTINGS
// Roles
.tabBarItem-3nPo4Z {
    border-radius: 0 !important;

    &:hover {
        background-color: transparent !important;
    }
}
