// PRIVACY AND SAFETY
// select buttons
.itemFilled-1cPbtg[aria-checked=true] {
    background-color: var(--background-tertiary);
}


// SERVER BOOST
.guildsSection-30CJxX {
    .cardWrapper-1bSePP, .card-2xlCYc {
        border-radius: var(--border-radius, 2rem);
    }
}


// SUBSCRIPTIONS
.card-16VQ8C {
    border-radius: var(--border-radius, 2rem);
}


// GIFT INVENTORY
.skuCard-2Fnwet {
    border-radius: var(--border-radius, 2rem);
}


// BILLING
.payment-2bOh4k, .paymentPane-ut5qKZ, .paginator-1eqD2g  {
    background-color: var(--background-secondary) !important;
}


// CONNECTIONS
.accountBtnInner-3ttD-i {
    border-radius: var(--border-radius, 2rem);
}
