// GLOBAL
:root {
    --strato: #0284e8;
    --meso: #02a3e8;
    --nebula: #05844A;
    --nebula-dark: #006839;
    --magma: #B10C0C;
    --sunset: #bf5039;
    --border-radius: 2rem;
    --avatar-radius: 50%;
    // discord
    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary: #202020;
    --background-accent: #3281ea;
    --background-message-hover: transparent;
    --background-modifier-hover: var(--background-secondary);
    --background-modifier-active: var(--background-secondary);
    --background-modifier-selected: var(--background-accent);
    --background-floating: var(--background-secondary);
    --brand-experiment: var(--background-accent, #3281ea);
    --brand-experiment-560: var(--strato, #0284e8);
    --brand-experiment-600: var(--meso, #02a3e8);
    --button-danger-background-hover: var(--magma, #B10C0C);
    --button-outline-danger-background-hover: var(--magma, #B10C0C);
    --button-outline-danger-border: var(--sunset, #bf5039);
    --button-outline-danger-border-hover: var(--magma, #B10C0C);
    --button-positive-background: var(--nebula, #05844A);
    --button-positive-background-hover: var(--nebula-dark, #006839);
    --channeltextarea-background: var(--background-secondary);
    --deprecated-quickswitcher-input-background: var(--background-tertiary);
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);
    --scrollbar-auto-thumb: var(--background-secondary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-secondary);
    --toast-background: var(--background-secondary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-primary) !important;
    --elevation-low: none;
}


// DISCORD
.theme-dark {
    --background-tertiary: #161616;
    --background-secondary: #202020;
    --background-secondary-alt: #252525;
    --background-primary: #303030;
    --channel-icon: #dadada;
    --deprecated-card-bg: #16161663;
    --interactive-normal: #dadada;
    --text-normal: #f3f3f3;
    --activity-card-background: #10101b;
}

// soon™️
.theme-light {
    --background-tertiary: #bbc1c8;
    --background-secondary: #c9cbce;
    --background-secondary-alt: #cecece;
    --background-primary: #dfdfdf;
    --channel-icon: #7e848e;
    --interactive-normal: #7e848e;
}